*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --theme-font-color:#FA8700;
    --nav-padding: 70px;
}
a{
    text-decoration: none;
    color:inherit;
}
html {
    scroll-behavior: smooth;
  }