@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Silkscreen&display=swap');

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 30px;
}
.logo img{
    width: 65px;
    height: 65px;
    transform: rotate(45deg);
}
.logo .logo-text{
    line-height: 0.75em;
    
}
.logo .logo-text-1{
    font-size: 0.65em;
    font-family: 'Irish Grover', cursive;
    color:#FD7700;
}
.logo .logo-text-2{
    font-size: 1em;
    font-family: 'Silkscreen', cursive;
    color:#5b5f64;
}
.logo-ham{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-ham .fa-bars{
    display: none;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    right: 10px;
    color:rgb(42, 43, 44);
}
@media screen and (max-width:750px) {
    .logo{
        font-size:20px;
    }
    .logo img{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width:600px){
    .logo{
        font-size:20px;
        width: 100%;
        justify-content: flex-start;
    }
    .logo img{
        width: 45px;
        height: 45px;
    }
    .logo-ham{
        width: 100%;
        padding: 3px 10px;
    }
    .logo-ham .fa-bars{
        display: block;
    }
}