.proofs{
  text-align: center;
  font-family: "Inter",sans-serif;
  padding-top: var(--nav-padding);
  padding-bottom: 20px;
  box-shadow: inset 2px 0px 4px rgba(0,0,0,0.25);
}

.proofs h2{
  color:rgb(108, 108, 110);
  margin-bottom: 20px;
}

.proofs h2 span{
    color:var(--theme-font-color);
}

.proofs p{
  margin-bottom:25px;
}

/* Slider Stylings */

.swiper {
    width: 80%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    height: 400px !important;
  }


  .swiper-slide img {
    display: block;
    height: 80%;
    object-fit: cover;
    margin: auto;
  }

  @media screen and (max-width: 600px) {
    .swiper {
      width: 100%;
    }
    .swiper-slide{
      height: 300px !important;
    }
    .swiper-slide img{
      width: 80%;
      height: auto;
    }
  }